# Copyright (c) 2021 TiaC Systems
# Copyright (c) 2019-2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

menu "Sub Systems and OS Services"

rsource "shell/Kconfig"
rsource "stepper_action_stream/Kconfig"

endmenu
