# Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0
#
# NOTE: copy and own from original default configuration in
# "zephyr/boards/st/nucleo_f767zi/nucleo_f767zi_defconfig"

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
CONFIG_SERIAL=y

# Console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# Enable GPIO
CONFIG_GPIO=y
