.red {
  color: var(--docset-color-theme-red);
}

.green {
  color: var(--docset-color-theme-green);
}

.blue {
  color: var(--docset-color-theme-blue);
}

.cyan {
  color: var(--docset-color-theme-cyan);
}

.yellow {
  color: var(--docset-color-theme-yellow);
}

.black {
  color: var(--docset-color-theme-black);
}

.white {
  color: var(--docset-color-theme-white);
}
