/* Background colors for the different sets */

/* Bridle */
.bridle {
    background-color: #15729d;
}

/* Zephyr Project RTOS */
.zephyr {
    background-color: #333f67;
}

/* Kconfig Reference */
.kconfig {
    background-color: #e82424;
}

/* Devicetree Bindings */
.devicetree {
    background-color: #e5c100;
}
