/* background color top and bottom left */

.wy-side-nav-search {
 background-color: #e5c100
}

.rst-versions .rst-current-version {
 background-color: #e5c100;
}

/* text color navigation menu */

/* l1 not selected */
.wy-menu-vertical a {
 color: #e5c100;
}
/* expanded container nodes */
.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
 color: #e5c100;
}
/* expanded nodes, not selected */
.wy-menu-vertical li.current a {
 color: #e5c100;
}
