# Copyright (c) 2024 Matthew Tran
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_CH32
	bool "CH32 GPIO driver"
	default y
	depends on DT_HAS_WCH_CH32_GPIO_ENABLED

config GPIO_CH32_INIT_PRIORITY
	int "Init priority"
	default KERNEL_INIT_PRIORITY_DEFAULT
	depends on GPIO_CH32
	help
	  Device driver initialization priority.
