# Copyright (c) 2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

menuconfig GPIO_SC18IS604
	bool "GPIO controller part of an SC18IM604 bridge"
	default y
	depends on DT_HAS_NXP_SC18IS604_GPIO_ENABLED
	depends on MFD_SC18IS604
	help
	  Enable driver for GPIO controller part of an SC18IM604 bridge.

config GPIO_SC18IS604_INIT_PRIORITY
	int "Init priority"
	default 85
	depends on GPIO_SC18IS604
	help
	  Device driver initialization priority.
