 /*
  * Copyright (c) 2023-2024 TiaC Systems
  * SPDX-License-Identifier: Apache-2.0
  */

 #include <zephyr/dt-bindings/stepper/stepper.h>
 #include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	dummy_stepper {
		status = "okay";
		compatible = "dummy-steppers";

		nmotors = < 3 >;
		fs-max-speed = < 1000 >;	/* 300 RPM (60 * 1000 / 200) */

		#address-cells = < 1 >;
		#size-cells = < 0 >;
		#stepper-motor-cells = < 1 >;

		dummy_motor_0: motor@0 {
			reg = < 0 >;
			fs-per-turn = < 200 >;
			microstep-res = <STEPPER_USTEP_RES_1>;
		};

		dummy_motor_2: motor@2 {
			reg = < 2 >;
			fs-per-turn = < 100 >;
			microstep-res = <STEPPER_USTEP_RES_1>;
		};

		dummy_motor_1: motor@1 {
			reg = < 1 >;
			fs-per-turn = < 400 >;
			microstep-res = <STEPPER_USTEP_RES_1>;
		};
	};
 };

 &gpio0 {
 	status = "okay";
 };

 &spi0 {
 	status = "disabled";
 };
