/*
 * Copyright (c) 2023-2024 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/stepper/stepper.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/* Grove 4 */
&i2c0 {
        status = "okay";

        mikroe_stepper_gpios: mikroe_stepper_ctrl_tca9538a@70 {
                status = "okay";
                compatible = "ti,tca9538";

                reg = < 0x70 >;

                gpio-controller;
                ngpios = < 8 >;
                #gpio-cells = < 2 >;

                gpio-reserved-ranges = < 7 1 >;

                gpio-line-names =
                    "M0",
                    "M1",
                    "DEC0",
                    "DEC1",
                    "TOFF",
                    "STP",
                    "DIR";
        };
};

/ {

        drv8424 {
                status = "okay";
                compatible = "drv84xx";

                fs-per-turn = < 200 >;
                fs-max-speed = < 500000 >; /* Steps/s */

                dir-gpios = < &gpio0 2 0 >;
                step-gpios = < &gpio0 3 0 >;
                sleep-gpios = < &gpio0 4 GPIO_ACTIVE_LOW >;
                en-gpios  = < &gpio0 5 0 >;
                m0-gpios = < &mikroe_stepper_gpios 0 0 >;
                m1-gpios = < &mikroe_stepper_gpios 1 0 >;
        };

	dummy_stepper {
		compatible = "dummy-steppers","sinotech,mx1508";
		

		status = "okay";

		friendly-name = "Soyo SY35ST28-0504A";

		fs-per-turn = <200>;	/* 1.8° per step (360° / 1.8°) */
		fs-max-speed = <1000>;	/* 300 RPM (60 * 1000 / 200) */

		microstep-res = <STEPPER_USTEP_RES_2>;
		
	};

	gpio_steppers {
		compatible = "gpio-steppers";
	
		motor_0 {
			status = "okay";
			compatible = "sinotech,mx1508",
					 "gpio-stepper-motor";
	
			friendly-name = "Soyo SY35ST28-0504A";
	
			gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>,	/* M1A - A1/A+/a */
				<&gpio0 10 GPIO_ACTIVE_HIGH>,	/* M2A - B1/B+/c */
				<&gpio0 9 GPIO_ACTIVE_HIGH>,	/* M1B - A2/A-/b */
				<&gpio0 11 GPIO_ACTIVE_HIGH>;	/* M2B - B2/B-/d */
	
			fs-per-turn = <200>;	/* 1.8° per step (360° / 1.8°) */
			fs-max-speed = <1000>;	/* 300 RPM (60 * 1000 / 200) */
	
			microstep-res = <STEPPER_USTEP_RES_2>;
		};
	
	};
};

&gpio0 {
	status = "okay";
};

/* HACK to have access to GP0-7 */

&uart0 {
	status = "disabled";
};

&spi0 {
	status = "disabled";
};
