# Copyright (c) 2021-2025 TiaC Systems
# Copyright (c) 2019-2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

mainmenu "Bridle"

# zephyr-keep-sorted-start
rsource "drivers/Kconfig"
rsource "lib/Kconfig"
rsource "subsys/Kconfig"
# zephyr-keep-sorted-stop

# Hook up board extensions for Kconfig.
# That were not originally intended by Zephyr upstream!
orsource "boards/extensions/Kconfig.$(BOARD)"
