# Copyright (c) 2021 TiaC Systems
# Copyright (c) 2019-2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

mainmenu "Bridle"

rsource "modules/Kconfig"
rsource "services/Kconfig"
rsource "subsys/Kconfig"
rsource "drivers/Kconfig"
rsource "lib/Kconfig"
