# Copyright (c) 2023 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

if SHIELD_X_GROVE_TESTBED

config SHIELD_X_GROVE_TESTBED_SINGLE_BOARD
	bool
	default y if BOARD_COFFEECALLER_NRF52
	default y if BOARD_CYTRON_MAKER_NANO_RP2040
	default y if BOARD_CYTRON_MAKER_PI_RP2040
	default y if BOARD_CYTRON_MOTION_2350_PRO
	default y if BOARD_MINI_USB_RP2040
	default y if BOARD_MINI_USB_RP2350
	default y if BOARD_SEEEDUINO_LOTUS
	default n

endif # SHIELD_X_GROVE_TESTBED
