# Copyright (c) 2023 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

if SHIELD_X_GROVE_TESTBED

config SHIELD_X_GROVE_TESTBED_SINGLE_BOARD
	bool
	default y if BOARD_SEEEDUINO_LOTUS
	default n

endif # SHIELD_X_GROVE_TESTBED
