# Copyright (c) 2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

if SHIELD_LOOPBACK_TEST || \
   SHIELD_LOOPBACK_TEST_TMPH

menu "Loopback Test Shield"

# workaround to be configurable with different test cases
orsource "tests/*.defconfig"

# board specific options
orsource "boards/*.defconfig"

endmenu # Loopback Test Shield

endif # SHIELD_LOOPBACK_TEST || \
      # SHIELD_LOOPBACK_TEST_TMPH
