# Copyright (c) 2021-2024 TiaC Systems
# Copyright (c) 2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

# TiaC Magpie F777NI board configuration

if BOARD_MAGPIE_F777NI

choice RNG_GENERATOR_CHOICE
	default ENTROPY_DEVICE_RANDOM_GENERATOR
	depends on ENTROPY_GENERATOR
endchoice

if NETWORKING

config NET_L2_ETHERNET
	default y

endif # NETWORKING

endif # BOARD_MAGPIE_F777NI
