# SPDX-FileCopyrightText: Copyright (c) 2023-2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config INPUT
	default y if SHIELD_SPOTPEAR_PICO_TEST
	depends on DISPLAY && LVGL && DT_HAS_ZEPHYR_LVGL_KEYPAD_INPUT_ENABLED
