# Copyright (c) 2022 TiaC Systems
# Copyright (c) 2017, embedjournal.com
# SPDX-License-Identifier: Apache-2.0

config BOARD_VCCGND_BLUEPILL
	bool "VCC-GND Studio Blue Pill"
	depends on SOC_STM32F103X8
