# Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_RPI_PICO2_RP2350A_HAZARD3
	bool

config BOARD_RPI_PICO2_RP2350A_HAZARD3_BBE
	bool
	select BOARD_RPI_PICO2_RP2350A_HAZARD3

config BOARD_RPI_PICO2_RP2350A_M33
	bool

config BOARD_RPI_PICO2_RP2350A_M33_BBE
	bool
	select BOARD_RPI_PICO2_RP2350A_M33

config BOARD_RPI_PICO2_RP2350A_M33_W
	bool

config BOARD_RPI_PICO2_RP2350A_M33_W_BBE
	bool
	select BOARD_RPI_PICO2_RP2350A_M33_W

config BOARD_RPI_PICO2_RP2350A_M33_MCUBOOT
	bool

config BOARD_RPI_PICO2_RP2350A_M33_MCUBOOT_BBE
	bool
	select BOARD_RPI_PICO2_RP2350A_M33_MCUBOOT

config BOARD_RPI_PICO2_RP2350A_M33_W_MCUBOOT
	bool

config BOARD_RPI_PICO2_RP2350A_M33_W_MCUBOOT_BBE
	bool
	select BOARD_RPI_PICO2_RP2350A_M33_W_MCUBOOT
