/*
 * Copyright (c) 2024 TiaC Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Snipped overlay for testing driver builds
 *
 * Names in this file should be chosen in a way that won't conflict
 * with real-world devicetree nodes, to allow these tests to run on
 * (and be extended to test) real hardware.
 */

/ {
	test: test {};
};

&test {
	test_adc_adj: adc@fadedead {
		compatible = "vnd,adc";
		status = "okay";
		reg = <0xfadedead 0x1000>;
		#io-channel-cells = <1>;
		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			reg = <0>;
			zephyr,gain = "ADC_GAIN_1";
			zephyr,reference = "ADC_REF_VDD_1";
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,input-positive = <0>;
			zephyr,resolution = <12>;
		};

		channel@1 {
			reg = <1>;
			zephyr,gain = "ADC_GAIN_1_6";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,input-positive = <0>;
			zephyr,resolution = <12>;
		};

		channel@2 {
			reg = <2>;
			zephyr,gain = "ADC_GAIN_1_6";
			zephyr,reference = "ADC_REF_INTERNAL";
			zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
			zephyr,input-positive = <0>;
			zephyr,resolution = <12>;
		};
	};

	test_gpio_adj: gpio@feedface {
		compatible = "vnd,gpio";
		status = "okay";
		reg = <0xfeedface 0x1000>;
		gpio-controller;
		#gpio-cells = <0x2>;
	};

	test_i2c_adj: i2c@aaaabbbb {
		compatible = "zephyr,i2c-emul-controller";
		status = "okay";
		reg = <0xaaaabbbb 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <100000>;

		test_i2c_ds3231_mfd: ds3231-mfd@1 {
			compatible = "maxim,ds3231-mfd";
			status = "okay";
			reg = <0x1>;
			isw-gpios = <&test_gpio_adj 0 0>;
			32k-gpios = <&test_gpio_adj 0 0>;

			test_i2c_ds3231_temp: ds3231-temp {
				compatible = "maxim,ds3231-temp";
				status = "okay";
			};
		};
	};

	test_i3c_adj: i3c@bbbbaaaa {
		compatible = "vnd,i3c";
		status = "okay";
		reg = <0xbbbbaaaa 0x1000>;
		#address-cells = <3>;
		#size-cells = <0>;
	};

	test_spi_adj: spi@ccccdddd {
		compatible = "zephyr,spi-emul-controller";
		status = "okay";
		reg = <0xccccdddd 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <2000000>;

		/* one entry for every devices */
		/* cs-gpios = <&test_gpio_adj 0 0>; */
	};

	test_uart_adj: uart@eeeeffff {
		compatible = "vnd,serial";
		status = "okay";
		reg = <0xeeeeffff 0x1000>;
	};

	test_w1_adj: w1@ffffeeee {
		compatible = "vnd,w1";
		status = "okay";
		reg = <0xffffeeee 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		ranges = <0 0>;
	};
};

/* FIX: /test/w1@66660000: unnecessary #address-cells/#size-cells
 *      without "ranges" or child "reg" property
 *  OR: /test/w1@66660000:ranges: empty "ranges" property
 *      but its #size-cells (0) differs from /test (1)
 */
&test_w1 {
	ranges = <0 0>;
};

/* FIX: /test/i2c@11112222/lis2dux12@8a: duplicate unit-address
 *      (also used in node /test/i2c@11112222/iis328dq@8a)
 */
/delete-node/ &test_i2c_iis328dq;
&test_i2c_adj {
	test_i2c_iis328dq: iis328dq@8a {
		compatible = "st,iis328dq";
		status = "okay";
		reg = <0x8a>;
		int2-gpios = <&test_gpio 0 0>;
		threshold-int-pad = <2>;
	};
};
