/*
 * Copyright (c) 2024 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include "rpipico_r3-connect.dtsi"

#include "st7789v_320x240.dtsi"
#include "st7789v_rgb565.dtsi"

#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>

&rpipico_spi_lcd {
	status = "okay";
	cs-gpios = <&rpipico_header 17 GPIO_ACTIVE_LOW>;	/* GP17 */
};

&mipi_dbi {
	status = "okay";
	dc-gpios = <&rpipico_header 16 GPIO_ACTIVE_HIGH>;	/* GP16 */
	spi-dev = <&rpipico_spi_lcd>;
	#address-cells = <1>;
	#size-cells = <0>;
};

&lcd_panel {
	status = "okay";
};

&lcd_backlight_en {
	status = "okay";
	enable-gpios = <&rpipico_header 20 GPIO_ACTIVE_HIGH>;	/* GP20 */
};

&rpipico_pwm {
	status = "okay";
	divider-frac-3 = <15>;
	divider-int-3 = <255>;
	divider-frac-4 = <15>;
	divider-int-4 = <255>;
};

&pwm_led_r {							/* GP6:PWM3A */
	pwms = <&rpipico_pwm 6 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
};

&pwm_led_g {							/* GP7:PWM3B */
	pwms = <&rpipico_pwm 7 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
};

&pwm_led_b {							/* GP8:PWM4A */
	pwms = <&rpipico_pwm 8 PWM_MSEC(20) PWM_POLARITY_INVERTED>;
};

&led_r {							/* GP6 */
	gpios = <&rpipico_header 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&led_g {							/* GP7 */
	gpios = <&rpipico_header 7 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&led_b {							/* GP8 */
	gpios = <&rpipico_header 8 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&button_0 {							/* GP12 */
	gpios = <&rpipico_header 12 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&button_1 {							/* GP13 */
	gpios = <&rpipico_header 13 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&button_2 {							/* GP14 */
	gpios = <&rpipico_header 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};

&button_3 {							/* GP15 */
	gpios = <&rpipico_header 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
};
