# Copyright (c) 2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config SHIELD_NXP_SC18IS604_EVB
	def_bool $(shields_list_contains,nxp_sc18is604_evb)

config X_ARDUINO_HEADER_TO_NXP_SC18IS604_EVB
	def_bool $(shields_list_contains,x_arduino_header_to_nxp_sc18is604_evb)
	