# ST Microelectronics STM32F7 MCU line

# Copyright (c) 2021 TiaC Systems
# Copyright (c) 2021 Li-Pro.Net
# Copyright (c) 2018 Yurii Hamann
# SPDX-License-Identifier: Apache-2.0

# Kconfig symbols common to STM32F7 series

if SOC_SERIES_STM32F7X

if SOC_STM32F767XX_STM32F767XX

config SOC
	default "stm32f767xx"

endif # SOC_STM32F767XX_STM32F767XX

if SOC_STM32F767XX_STM32F777XX

config SOC
	default "stm32f777xx"

endif # SOC_STM32F767XX_STM32F777XX

endif # SOC_SERIES_STM32F7X
