# Copyright (c) 2023-2025 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config RP2_FLASH_W25Q080
	default y
	depends on BOARD_PICOBOY

config CLOCK_CONTROL
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_CLOCK_ENABLED && \
		   DT_HAS_RASPBERRYPI_PICO_CLOCK_CONTROLLER_ENABLED

config RESET
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_RESET_ENABLED

config WATCHDOG
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_WATCHDOG_ENABLED

config DMA
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_DMA_ENABLED

config GPIO
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_GPIO_ENABLED

config PWM
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_PWM_ENABLED

config REGULATOR
	default y
	depends on DT_HAS_REGULATOR_FIXED_ENABLED

config WDT_DISABLE_AT_BOOT
	default y
	depends on HAS_WDT_DISABLE_AT_BOOT

config I2C_DW_CLOCK_SPEED
	default 125
	depends on I2C_DW && BOARD_PICOBOY

choice ST7789V_PIXEL_FORMAT
	default ST7789V_RGB565 if BOARD_PICOBOY_RP2040_COLOR
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040_COLOR
endchoice

config LV_Z_VDB_SIZE
	default 64 if BOARD_PICOBOY_RP2040
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040

config LV_DPI_DEF
	default 116 if BOARD_PICOBOY_RP2040
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040

config LV_Z_BITS_PER_PIXEL
	default 1 if BOARD_PICOBOY_RP2040
	default 16 if BOARD_PICOBOY_RP2040_COLOR
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_1 if BOARD_PICOBOY_RP2040
	default LV_COLOR_DEPTH_16 if BOARD_PICOBOY_RP2040_COLOR
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040
endchoice

config LV_COLOR_16_SWAP
	default y if BOARD_PICOBOY_RP2040_COLOR
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040_COLOR

config LV_FONT_MONTSERRAT_8
	default y if BOARD_PICOBOY_RP2040
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040

config LV_FONT_MONTSERRAT_10
	default y if BOARD_PICOBOY_RP2040
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040

config LV_FONT_MONTSERRAT_12
	default y if BOARD_PICOBOY_RP2040
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040

config LV_FONT_MONTSERRAT_14
	default y if BOARD_PICOBOY_RP2040
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040

choice LV_FONT_DEFAULT
	default LV_FONT_DEFAULT_MONTSERRAT_10 if !LV_CONF_MINIMAL
	default LV_FONT_DEFAULT_UNSCII_8 if LV_CONF_MINIMAL
	depends on DISPLAY && LVGL && BOARD_PICOBOY_RP2040
endchoice

config INPUT
	default y if DT_HAS_ZEPHYR_LVGL_BUTTON_INPUT_ENABLED
	default y if DT_HAS_ZEPHYR_LVGL_KEYPAD_INPUT_ENABLED
	depends on DISPLAY && LVGL && BOARD_PICOBOY

config USB_SELF_POWERED
	default n
	depends on USB_DEVICE_STACK && BOARD_PICOBOY

config USB_MAX_POWER
	default 125 if BOARD_PICOBOY_RP2040		# 250mA
	default 125 if BOARD_PICOBOY_RP2040_COLOR	# 250mA
	depends on USB_DEVICE_STACK && BOARD_PICOBOY

# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_CONSOLE := zephyr,console
DT_COMPAT_Z_CDC_ACM_UART := zephyr,cdc-acm-uart
DT_COMPAT_RPIPICO_USB := raspberrypi,pico-usbd

# Macros to shorten Kconfig expressions
DT_CHOSEN_CONSOLE_NODE := $(dt_chosen_path,$(DT_CHOSEN_Z_CONSOLE))
DT_CHOSEN_CONSOLE_PARENT := $(dt_node_parent,$(DT_CHOSEN_CONSOLE_NODE))

if BOARD_PICOBOY && \
	$(dt_chosen_enabled,$(DT_CHOSEN_Z_CONSOLE)) && \
	$(dt_compat_on_bus,$(DT_COMPAT_Z_CDC_ACM_UART),usb) && \
	$(dt_node_has_compat,$(DT_CHOSEN_CONSOLE_PARENT),$(DT_COMPAT_RPIPICO_USB))

# Logger cannot use itself to log
choice USB_CDC_ACM_LOG_LEVEL_CHOICE
	default USB_CDC_ACM_LOG_LEVEL_OFF
	depends on LOG
endchoice

# Set USB log level to error only
choice USB_DEVICE_LOG_LEVEL_CHOICE
	default USB_DEVICE_LOG_LEVEL_ERR
	depends on LOG
endchoice

# Wait 4000ms at startup for logging
config LOG_PROCESS_THREAD_STARTUP_DELAY_MS
	default 4000
	depends on LOG

# Wait 4000ms at startup for USB enumeration on host side
config BOOT_DELAY
	default 4000

endif # zephyr,cdc-acm-uart
