/*
 * Copyright (c) 2023-2025 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include <mem.h>

#include "picoboy-flash.dtsi"

&flash0 {
	reg = <0x10000000 DT_SIZE_M(2)>;
};

/*
 * Usable flash. Starts at 0x100, after the bootloader. The partition
 * size is 2MB minus the 0x100 bytes taken by the bootloader.
 */
&code_partition {
	reg = <0x100 (DT_SIZE_M(2) - __FLASH_RPI_PICO_BOOTLOADER_SIZE)>;
};
