# Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_NUCLEO_F401RE_STM32F401XE
	bool

config BOARD_NUCLEO_F401RE_STM32F401XE_BBE
	bool
	select BOARD_NUCLEO_F401RE_STM32F401XE
