# Copyright (c) 2025 TiaC Systems
# Copyright (c) 2024 Matthew Tran
# SPDX-License-Identifier: Apache-2.0

if ADC

# zephyr-keep-sorted-start
rsource "Kconfig.ch32"
# zephyr-keep-sorted-stop

endif # ADC
