# Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_CYTRON_MOTION_2350_PRO
	select SOC_RP2350A_M33 if BOARD_CYTRON_MOTION_2350_PRO_RP2350A_M33
	select SOC_RP2350A_HAZARD3 if BOARD_CYTRON_MOTION_2350_PRO_RP2350A_HAZARD3
