# Copyright (c) 2025 TiaC Systems
# Copyright (c) 2024 Michael Hope
# SPDX-License-Identifier: Apache-2.0

menuconfig CLOCK_CONTROL_CH32_RCC
	bool "WCH CH32 Reset and Clock Control (RCC) driver"
	default y
	depends on DT_HAS_WCH_CH32_RCC_ENABLED
