# SPDX-FileCopyrightText: Copyright (c) 2023-2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_2_4_LCD
	depends on DISPLAY && LVGL
endchoice

config REGULATOR
	default y
	depends on DT_HAS_REGULATOR_GPIO_ENABLED
