/ {
	cannectivity: cannectivity {
		compatible = "cannectivity";

		shield_mikroe_canspi_channel0 {
			compatible = "cannectivity-channel";

			can-controller = <&mcp2515_mikroe_can_spi_click>;
			state-led = <&green_led>;
		};
	};
};
