/*
 * Copyright (c) 2023 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

&rpipico_serial {
	status = "disabled";
};

&rpipico_i2c {
	status = "disabled";
};

&rpipico_spi {
	status = "disabled";
};
