# SPDX-FileCopyrightText: Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_XIAO_RP2350_RP2350A_HAZARD3_0
	bool

config BOARD_XIAO_RP2350_RP2350A_HAZARD3_0_BBE
	bool
	select BOARD_XIAO_RP2350_RP2350A_HAZARD3_0

config BOARD_XIAO_RP2350_RP2350A_M33_0
	bool

config BOARD_XIAO_RP2350_RP2350A_M33_0_BBE
	bool
	select BOARD_XIAO_RP2350_RP2350A_M33_0
