# Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_XIAO_RP2350_RP2350A_HAZARD3
	bool

config BOARD_XIAO_RP2350_RP2350A_HAZARD3_BBE
	bool
	select BOARD_XIAO_RP2350_RP2350A_HAZARD3

config BOARD_XIAO_RP2350_RP2350A_M33
	bool

config BOARD_XIAO_RP2350_RP2350A_M33_BBE
	bool
	select BOARD_XIAO_RP2350_RP2350A_M33
