# Copyright (c) 2023 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

if SHIELD_GROVE_BTN

config GPIO
	default y

config SHIELD_GROVE_BTN_D0
	def_bool $(dt_nodelabel_enabled,grove_btn_d0)

config SHIELD_GROVE_BTN_D1
	def_bool $(dt_nodelabel_enabled,grove_btn_d1)

config SHIELD_GROVE_BTN_D2
	def_bool $(dt_nodelabel_enabled,grove_btn_d2)

config SHIELD_GROVE_BTN_D3
	def_bool $(dt_nodelabel_enabled,grove_btn_d3)

config SHIELD_GROVE_BTN_D4
	def_bool $(dt_nodelabel_enabled,grove_btn_d4)

config SHIELD_GROVE_BTN_D5
	def_bool $(dt_nodelabel_enabled,grove_btn_d5)

config SHIELD_GROVE_BTN_D6
	def_bool $(dt_nodelabel_enabled,grove_btn_d6)

config SHIELD_GROVE_BTN_D7
	def_bool $(dt_nodelabel_enabled,grove_btn_d7)

config SHIELD_GROVE_BTN_D8
	def_bool $(dt_nodelabel_enabled,grove_btn_d8)

config SHIELD_GROVE_BTN_D9
	def_bool $(dt_nodelabel_enabled,grove_btn_d9)

config SHIELD_GROVE_BTN_D10
	def_bool $(dt_nodelabel_enabled,grove_btn_d10)

config SHIELD_GROVE_BTN_D11
	def_bool $(dt_nodelabel_enabled,grove_btn_d11)

config SHIELD_GROVE_BTN_D12
	def_bool $(dt_nodelabel_enabled,grove_btn_d12)

config SHIELD_GROVE_BTN_D13
	def_bool $(dt_nodelabel_enabled,grove_btn_d13)

config SHIELD_GROVE_BTN_D14
	def_bool $(dt_nodelabel_enabled,grove_btn_d14)

config SHIELD_GROVE_BTN_D15
	def_bool $(dt_nodelabel_enabled,grove_btn_d15)

config SHIELD_GROVE_BTN_D16
	def_bool $(dt_nodelabel_enabled,grove_btn_d16)

config SHIELD_GROVE_BTN_D17
	def_bool $(dt_nodelabel_enabled,grove_btn_d17)

config SHIELD_GROVE_BTN_D18
	def_bool $(dt_nodelabel_enabled,grove_btn_d18)

config SHIELD_GROVE_BTN_D19
	def_bool $(dt_nodelabel_enabled,grove_btn_d19)

config SHIELD_GROVE_BTN_D20
	def_bool $(dt_nodelabel_enabled,grove_btn_d20)

config SHIELD_GROVE_BTN_D21
	def_bool $(dt_nodelabel_enabled,grove_btn_d21)

config SHIELD_GROVE_BTN_D22
	def_bool $(dt_nodelabel_enabled,grove_btn_d22)

config SHIELD_GROVE_BTN_D23
	def_bool $(dt_nodelabel_enabled,grove_btn_d23)

config SHIELD_GROVE_BTN_D24
	def_bool $(dt_nodelabel_enabled,grove_btn_d24)

config SHIELD_GROVE_BTN_D25
	def_bool $(dt_nodelabel_enabled,grove_btn_d25)

config SHIELD_GROVE_BTN_D26
	def_bool $(dt_nodelabel_enabled,grove_btn_d26)

config SHIELD_GROVE_BTN_D27
	def_bool $(dt_nodelabel_enabled,grove_btn_d27)

config SHIELD_GROVE_BTN_D28
	def_bool $(dt_nodelabel_enabled,grove_btn_d28)

config SHIELD_GROVE_BTN_D29
	def_bool $(dt_nodelabel_enabled,grove_btn_d29)

config SHIELD_GROVE_BTN_D30
	def_bool $(dt_nodelabel_enabled,grove_btn_d30)

config SHIELD_GROVE_BTN_D31
	def_bool $(dt_nodelabel_enabled,grove_btn_d31)

endif # SHIELD_GROVE_BTN
