# Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_MIMXRT1060_EVK_MIMXRT1062_HYPERFLASH
	bool

config BOARD_MIMXRT1060_EVK_MIMXRT1062_HYPERFLASH_BBE
	bool
	select BOARD_MIMXRT1060_EVK_MIMXRT1062_HYPERFLASH

config BOARD_MIMXRT1060_EVK_MIMXRT1062_QSPI
	bool

config BOARD_MIMXRT1060_EVK_MIMXRT1062_QSPI_BBE
	bool
	select BOARD_MIMXRT1060_EVK_MIMXRT1062_QSPI
