/*
 * Copyright (c) 2024 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

nxp_sc18is604_evb_spi: &arduino_spi {};

/ {
	nxp_sc18is604_evb_hif: nxp-sc18is604-evb-hif-pins {
		compatible = "nxp,sc18is604-evb-hif-header";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &arduino_header 14 0>,	/* RESET_B @ D8 */
			   <1 0 &arduino_header 15 0>,	/* INT_B @ D9 */
			   <2 0 &arduino_header 19 0>,	/* SCLK @ D13 (SCK) */
			   <3 0 &arduino_header 17 0>,	/* MOSI @ D11 (COPI) */
			   <4 0 &arduino_header 18 0>,	/* MISO @ D12 (CIPO) */
			   <5 0 &arduino_header 16 0>;	/* CS_B @ D10 (SS) */
	};
};
