# zephyr-keep-sorted-start
docutils>=0.22
doxmlparser~=1.16
imagesize>=2.0
pillow~=12.2
pygments~=2.20
sphinx-autobuild~=2025.8
sphinx-copybutton~=0.5
sphinx-csv-filter~=0.4
sphinx-filter-tabs~=1.5
sphinx-notfound-page~=1.1
sphinx-sitemap~=2.9
sphinx-tabs~=3.5
sphinx-togglebutton~=0.4
sphinx-tsn-theme~=2024.11
sphinxcontrib-mermaid~=2.0
sphinxcontrib-mscgen~=0.6
sphinxcontrib-programoutput~=0.19
sphinxcontrib-svg2pdfconverter~=2.1
sphinx~=9.1
sphobjinv~=2.4
# zephyr-keep-sorted-stop
