# used by board "Arduino/Genuino Zero" for
# Microchip's own Python MCU programmer
# zephyr-keep-sorted-start
pykitinfo>=1.4
pymcuprog>=3.19
# zephyr-keep-sorted-stop

# used by west_commands
pyocd>=0.36
pyserial>=3.5

# used for west-command testing, also used by twister
pytest<9.0,>=8.4
