# Copyright (c) 2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config RP2_FLASH_W25Q080
	default y
	depends on BOARD_MINI_USB_RP2040

config CLOCK_CONTROL
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_CLOCK_ENABLED && \
		   DT_HAS_RASPBERRYPI_PICO_CLOCK_CONTROLLER_ENABLED

config REGULATOR
	default y
	depends on DT_HAS_REGULATOR_FIXED_ENABLED

config RESET
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_RESET_ENABLED

config WATCHDOG
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_WATCHDOG_ENABLED

config WDT_DISABLE_AT_BOOT
	default y if HAS_WDT_DISABLE_AT_BOOT
	depends on WATCHDOG && BOARD_MINI_USB_RP2040

config RTC
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_RTC_ENABLED

config RTC_ALARM
	default y
	depends on RTC && BOARD_MINI_USB_RP2040

config COUNTER
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_TIMER_ENABLED

config DMA
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_DMA_ENABLED

config GPIO
	default y
	depends on DT_HAS_RASPBERRYPI_PICO_GPIO_ENABLED

config USB_SELF_POWERED
	default n
	depends on USB_DEVICE_STACK && BOARD_MINI_USB_RP2040

config USB_MAX_POWER
	default 125 if BOARD_MINI_USB_RP2040	# 250mA
	depends on USB_DEVICE_STACK && BOARD_MINI_USB_RP2040

# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_CONSOLE := zephyr,console
DT_COMPAT_Z_CDC_ACM_UART := zephyr,cdc-acm-uart
DT_COMPAT_RPIPICO_USB := raspberrypi,pico-usbd

# Macros to shorten Kconfig expressions
DT_CHOSEN_CONSOLE_NODE := $(dt_chosen_path,$(DT_CHOSEN_Z_CONSOLE))
DT_CHOSEN_CONSOLE_PARENT := $(dt_node_parent,$(DT_CHOSEN_CONSOLE_NODE))

if BOARD_MINI_USB_RP2040 && \
	$(dt_chosen_enabled,$(DT_CHOSEN_Z_CONSOLE)) && \
	$(dt_compat_on_bus,$(DT_COMPAT_Z_CDC_ACM_UART),usb) && \
	$(dt_node_has_compat,$(DT_CHOSEN_CONSOLE_PARENT),$(DT_COMPAT_RPIPICO_USB))

# Logger cannot use itself to log
choice USB_CDC_ACM_LOG_LEVEL_CHOICE
	default USB_CDC_ACM_LOG_LEVEL_OFF
	depends on LOG
endchoice

# Set USB log level to error only
choice USB_DEVICE_LOG_LEVEL_CHOICE
	default USB_DEVICE_LOG_LEVEL_ERR
	depends on LOG
endchoice

# Wait 4000ms at startup for logging
config LOG_PROCESS_THREAD_STARTUP_DELAY_MS
	default 4000
	depends on LOG

# Wait 4000ms at startup for USB enumeration on host side
config BOOT_DELAY
	default 4000

endif # zephyr,cdc-acm-uart
