/*
 * Copyright (c) 2024 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/pinctrl/rpi-pico-rp2040-pinctrl.h>

&pinctrl {
	clocks_default: clocks-default {
		/* no external clocks */
	};

	uart0_default: uart0-default {
		group0 {
			pinmux = <UART0_TX_P0>;
		};
		group1 {
			pinmux = <UART0_RX_P1>;
			input-enable;
		};
	};

	uart0_hwflow: uart0-hwflow {
		group015 {
			pinmux = <UART0_TX_P0>, <UART0_RTS_P15>;
		};
		group114 {
			pinmux = <UART0_RX_P1>, <UART0_CTS_P14>;
			input-enable;
		};
	};

	pwm_default: pwm-default {
		group22 {
			pinmux = <PWM_3A_P22>;
		};
	};

	pio0_ws2812_default: pio0-ws2812-default {
		group22 {
			pinmux = <PIO0_P22>;
		};
	};

	adc_default: adc-default {
		group26272829 {
			pinmux = <ADC_CH0_P26>, <ADC_CH1_P27>,
				 <ADC_CH2_P28>, <ADC_CH3_P29>;
			input-enable;
		};
	};
};
