# Copyright (c) 2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config SHIELD_RPI_PICO_LED
	bool
	default y if SHIELD_WAVESHARE_PICO_RGB_LED
	default n

choice WS2812_STRIP_DRIVER
	default WS2812_STRIP_RPI_PICO_PIO
	depends on DT_HAS_WORLDSEMI_WS2812_RPI_PICO_PIO_ENABLED
endchoice
