# Copyright (c) 2021-2025 TiaC Systems
# Copyright (c) 2019-2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

menu "Support Libraries"

# zephyr-keep-sorted-start
rsource "gui/Kconfig"
# zephyr-keep-sorted-stop

endmenu
