/*
 * Copyright (c) 2023 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	grove_spi_header: grove-spi-connector {
		compatible = "seeed,grove-connector";
		#gpio-cells = <2>;
		gpio-map-mask = <0xffffffff 0xffffffc0>;
		gpio-map-pass-thru = <0 0x3f>;
		gpio-map = <0 0 &arduino_header 19 0>,	/* D13 / SPI-CLK */
			   <1 0 &arduino_header 18 0>,	/* D12 / SPI-MISO */
			   <2 0 &arduino_header 17 0>,	/* D11 / SPI-MOSI */
			   <3 0 &arduino_header 16 0>;	/* D10 / SPI-CS */
	};
};
