# Copyright (c) 2025 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

mainmenu "Buildability over all Bridle USB Console Boards and Snippets (usb-console)"

comment "Test configuration:"
config TEST_NAME
	string "Test Name"
	default "Verify USB device descriptor data for USB console (CDC ACM)"

config TEST_CHOSEN_ZEPHYR_SHELL_UART
	bool "Test `/chosen` property `zephyr,shell-uart`"
	default n

menuconfig TEST_EXPECTED_USB_DEVICE_STACK_NEXT
	bool "Expected USB Device Support"
	default n
	help
	  Expect, USB device stack is enabled.

if TEST_EXPECTED_USB_DEVICE_STACK_NEXT

module = TEST_EXPECTED_USBD
module-str = expected usbd
source "subsys/logging/Kconfig.template.log_config"

menuconfig TEST_EXPECTED_USBD_CDC_ACM_CLASS
	bool "Expected USB CDC ACM Class Support"
	default n
	help
	  Expected USB CDC ACM class support.

if TEST_EXPECTED_USBD_CDC_ACM_CLASS

module = TEST_EXPECTED_USBD_CDC_ACM
module-str = expected usbd cdc acm
source "subsys/logging/Kconfig.template.log_config"

menuconfig TEST_EXPECTED_CDC_ACM_SERIAL_INITIALIZE_AT_BOOT
	bool "Expect initialize USB Device Support at boot"
	default n
	help
	  Expect use CDC ACM UART as backend for console, shell, or logging.

if TEST_EXPECTED_CDC_ACM_SERIAL_INITIALIZE_AT_BOOT

config TEST_EXPECTED_CDC_ACM_SERIAL_VID
	hex "Expected USB CDC ACM Vendor ID"
	default 0x2FE3
	help
	  Expected USB CDC ACM device vendor ID.
	  MUST be configured by vendor.

config TEST_EXPECTED_CDC_ACM_SERIAL_PID
	hex "Expected USB CDC ACM Product ID"
	default 0x0100
	help
	  Expected USB CDC ACM device product ID.
	  MUST be configured by vendor.

config TEST_EXPECTED_CDC_ACM_SERIAL_MANUFACTURER_STRING
	string "Expected USB CDC ACM Manufacturer Name"
	default "ZEPHYR"
	help
	  Expected USB CDC ACM device manufacturer string.
	  MUST be configured by vendor.

config TEST_EXPECTED_CDC_ACM_SERIAL_PRODUCT_STRING
	string "Expected USB CDC ACM Product Name"
	default "USB-DEV"
	help
	  Expected USB CDC ACM device product string.
	  MUST be configured by vendor.

config TEST_EXPECTED_CDC_ACM_SERIAL_SELF_POWERED
	bool "Expected USB CDC ACM Device Self-Powered"
	default y
	help
	  Expected self-powered attribute in the configuration.

config TEST_EXPECTED_CDC_ACM_SERIAL_MAX_POWER
	int "Expected USB CDC ACM Device bMaxPower Value"
	default 125
	range 0 250
	help
	  Expected bMaxPower value in the configuration in 2 mA units.

endif # TEST_EXPECTED_CDC_ACM_SERIAL_INITIALIZE_AT_BOOT

endif # TEST_EXPECTED_USBD_CDC_ACM_CLASS

endif # TEST_EXPECTED_USB_DEVICE_STACK_NEXT

# Sources Kconfig.zephyr in the Zephyr root directory.
comment "Zephyr configuration:"
menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
