/*
 * Copyright (c) 2025 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include <freq.h>

&spi0 {
	status = "okay";
	sc18is604: sc18is604@0 {
		compatible = "nxp,sc18is604";
		status = "okay";
		spi-max-frequency = <DT_FREQ_K(1200)>;
		reg = <0>;

		interrupt-gpios = <&gpio0 0 0>;
		reset-gpios = <&gpio0 1 0>;

		sc18is604_gpio: sc18is604-gpio {
			compatible = "nxp,sc18is604-gpio";
			status = "okay";

			gpio-controller;
			#gpio-cells = <2>;

			ngpios = <5>;

			gpio-line-names = "IO0", "IO1", "IO2", "IO3", "IO4";
		};
	};
};

&gpio0 {
	status = "okay";
	ngpios = <8>;
	rising-edge;
	falling-edge;
	high-level;
	low-level;
};
