# Copyright (c) 2025 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_WAVESHARE_RP2350_CAN
	select SOC_RP2350A_M33 if BOARD_WAVESHARE_RP2350_CAN_RP2350A_M33
	select SOC_RP2350A_HAZARD3 if BOARD_WAVESHARE_RP2350_CAN_RP2350A_HAZARD3
