# Copyright (c) 2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

menuconfig MFD_SC18IS604
	bool "SC18IM604 SPI to I2C & GPIO bridge"
	default y
	depends on DT_HAS_NXP_SC18IS604_ENABLED
	depends on SPI
	help
	  Enable driver for SC18IM604 bridge.

config MFD_SC18IS604_INIT_PRIORITY
	int "Init priority"
	default 55 if I2C_SC18IS604
	default MFD_INIT_PRIORITY
	depends on MFD_SC18IS604
	help
	  Device driver initialization priority.

config MFD_SC18IS604_ASYNC
	bool "Enable asynchronous transfer functions over SC18IS604 bus"
	default y if I2C_SC18IS604
	default n
	depends on POLL
	depends on DYNAMIC_THREAD

if MFD_SC18IS604_ASYNC

config MFD_SC18IS604_WORKQUEUE_STACK_SIZE
	int
	default 512

config HEAP_MEM_POOL_ADD_SIZE_MFD_SC18IS604
	int
	default 256

endif # MFD_SC18IS604_ASYNC
