# Maxim DS3231 MFD configuration options

# Copyright (c) 2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

menuconfig MFD_DS3231
	bool "Maxim DS3231 MFD controller"
	default y if !DT_HAS_MAXIM_DS3231_ENABLED
	depends on DT_HAS_MAXIM_DS3231_MFD_ENABLED
	select I2C
	help
	  Enable the Maxim DS3231 multi-function device driver to got
	  access to the devices for RTC and Temperature Sensor drivers.

config MFD_DS3231_INIT_PRIORITY
	int "Initialization priority"
	default 55 if RTC_DS3231
	default MFD_INIT_PRIORITY
	depends on MFD_DS3231
	help
	  Multi-function device initialization priority for Maxim DS3231.
