# Copyright (c) 2025 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_WEACT_BLUEPILLPLUS
	bool
	default y if BOARD_WEACT_BLUEPILLPLUS_STM32F103C8
	default y if BOARD_WEACT_BLUEPILLPLUS_STM32F103CB
	default y if BOARD_WEACT_BLUEPILLPLUS_CH32V203C6
	default y if BOARD_WEACT_BLUEPILLPLUS_CH32V203C8
	default n

config BOARD_WEACT_BLUEPILLPLUS_USBCONS
	bool
	default y if BOARD_WEACT_BLUEPILLPLUS_STM32F103C8
	default y if BOARD_WEACT_BLUEPILLPLUS_STM32F103CB
	default n

config CLOCK_CONTROL
	default y
	depends on DT_HAS_ST_STM32_RCC_ENABLED || DT_HAS_WCH_RCC_ENABLED

config RESET
	default y
	depends on DT_HAS_ST_STM32_RCC_RCTL_ENABLED || DT_HAS_WCH_RCC_ENABLED

config GPIO
	default y
	depends on DT_HAS_ST_STM32_GPIO_ENABLED || DT_HAS_WCH_GPIO_ENABLED

# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_CONSOLE := zephyr,console
DT_COMPAT_Z_CDC_ACM_UART := zephyr,cdc-acm-uart
DT_COMPAT_STM32_USB := st,stm32-usb

# Macros to shorten Kconfig expressions
DT_CHOSEN_CONSOLE_NODE := $(dt_chosen_path,$(DT_CHOSEN_Z_CONSOLE))
DT_CHOSEN_CONSOLE_PARENT := $(dt_node_parent,$(DT_CHOSEN_CONSOLE_NODE))

if BOARD_WEACT_BLUEPILLPLUS_USBCONS && \
	$(dt_chosen_enabled,$(DT_CHOSEN_Z_CONSOLE)) && \
	$(dt_compat_on_bus,$(DT_COMPAT_Z_CDC_ACM_UART),usb) && \
	$(dt_node_has_compat,$(DT_CHOSEN_CONSOLE_PARENT),$(DT_COMPAT_STM32_USB))

config CDC_ACM_SERIAL_SELF_POWERED
	default n
	depends on USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS

config CDC_ACM_SERIAL_MAX_POWER
	default 250 if BOARD_WEACT_BLUEPILLPLUS_STM32F103C8	# 500mA
	default 250 if BOARD_WEACT_BLUEPILLPLUS_STM32F103CB	# 500mA
	depends on USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS

# Logger cannot use itself to log
choice USBD_CDC_ACM_LOG_LEVEL_CHOICE
	default USBD_CDC_ACM_LOG_LEVEL_OFF
	depends on LOG && USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS
endchoice

# Set USB log level to error only
choice USBD_LOG_LEVEL_CHOICE
	default USBD_LOG_LEVEL_ERR
	depends on LOG && USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS
endchoice

# Set UDC driver log level to error only
choice UDC_DRIVER_LOG_LEVEL_CHOICE
	default UDC_DRIVER_LOG_LEVEL_ERR
	depends on LOG && USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS
endchoice

endif # zephyr,cdc-acm-uart
