/ {
	cannectivity: cannectivity {
		compatible = "cannectivity";

		channel0 {
			compatible = "cannectivity-channel";

			can-controller = <&flexcan0>;
			state-led = <&blue_led>;
			activity-leds = <&green_led &red_led>;
		};
	};
};
