/*
 * Copyright (c) 2023 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include "rpipico_r3_connector.dtsi"

rpipico_serial: &uart0 {};
rpipico_spi: &spi0 {};
rpipico_i2c: &i2c0 {};

#include "rpipico_to_grove_if.dtsi"
