# Copyright (c) 2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

menuconfig I2C_SC18IS604
	bool "I2C controller part of an SC18IM604 bridge"
	default y
	depends on DT_HAS_NXP_SC18IS604_I2C_ENABLED
	depends on SPI
	help
	  Enable driver for I2C controller part of an SC18IM604 bridge.

config I2C_SC18IS604_INIT_PRIORITY
	int "Init priority"
	default 71
	depends on I2C_SC18IS604
	help
	  Device driver initialization priority.
