ecdsa>=0.19.0
imagesize>=1.4
intelhex>=2.3
pyelftools>=0.32
pylint>=3.3
regex>=2024.11

#
# Interim solution as long as the discussion continues upstream,
# see: https://github.com/zephyrproject-rtos/zephyr/issues/79380
#      - zephyrproject-rtos/zephyr@0b18f31246cd
# see: https://github.com/zephyrproject-rtos/zephyr/pull/79381
#      - zephyrproject-rtos/zephyr@5d155d9bc8b7
#
nrf-regtool>=8.1
