# Copyright (c) 2023 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config SHIELD_WAVESHARE_PICO_LCD
	bool
	default y if SHIELD_WAVESHARE_PICO_LCD_1_14
	default y if SHIELD_WAVESHARE_PICO_LCD_2
	default n

choice ST7789V_PIXEL_FORMAT
	default ST7789V_RGB565 if SHIELD_WAVESHARE_PICO_LCD_1_14
	default ST7789V_RGB565 if SHIELD_WAVESHARE_PICO_LCD_2
	depends on SHIELD_WAVESHARE_PICO_LCD && DISPLAY
endchoice

config LV_Z_BITS_PER_PIXEL
	default 16 if SHIELD_WAVESHARE_PICO_LCD_1_14
	default 16 if SHIELD_WAVESHARE_PICO_LCD_2
	depends on SHIELD_WAVESHARE_PICO_LCD && DISPLAY && LVGL

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_LCD_1_14
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_LCD_2
	depends on SHIELD_WAVESHARE_PICO_LCD && DISPLAY && LVGL
endchoice

config LV_COLOR_16_SWAP
	default y if SHIELD_WAVESHARE_PICO_LCD_1_14
	default y if SHIELD_WAVESHARE_PICO_LCD_2
	depends on SHIELD_WAVESHARE_PICO_LCD && DISPLAY && LVGL

config REGULATOR
	default y
	depends on DT_HAS_REGULATOR_FIXED_ENABLED
