# Copyright (c) 2023-2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config SHIELD_PIMORONI_PICO_LCD_1_44
	def_bool $(shields_list_contains,pimoroni_pico_lcd_1_44)

config SHIELD_WAVESHARE_PICO_LCD_0_96
	def_bool $(shields_list_contains,waveshare_pico_lcd_0_96)

config SHIELD_WAVESHARE_PICO_LCD_1_14
	def_bool $(shields_list_contains,waveshare_pico_lcd_1_14)

config SHIELD_WAVESHARE_PICO_LCD_1_3
	def_bool $(shields_list_contains,waveshare_pico_lcd_1_3)

config SHIELD_WAVESHARE_PICO_LCD_1_44
	def_bool $(shields_list_contains,waveshare_pico_lcd_1_44)

config SHIELD_WAVESHARE_PICO_LCD_1_8
	def_bool $(shields_list_contains,waveshare_pico_lcd_1_8)

config SHIELD_WAVESHARE_PICO_LCD_2
	def_bool $(shields_list_contains,waveshare_pico_lcd_2)

config SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_2_8
	def_bool $(shields_list_contains,waveshare_pico_restouch_lcd_2_8)

config SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_3_5
	def_bool $(shields_list_contains,waveshare_pico_restouch_lcd_3_5)
