# Copyright (c) 2023-2024 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config SHIELD_RPI_PICO_LCD
	bool
	default y if SHIELD_PIMORONI_PICO_LCD_1_44
	default y if SHIELD_WAVESHARE_PICO_LCD_0_96
	default y if SHIELD_WAVESHARE_PICO_LCD_1_14
	default y if SHIELD_WAVESHARE_PICO_LCD_1_3
	default y if SHIELD_WAVESHARE_PICO_LCD_1_44
	default y if SHIELD_WAVESHARE_PICO_LCD_1_8
	default y if SHIELD_WAVESHARE_PICO_LCD_2
	default y if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_2_8
	default y if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_3_5
	default n

choice ST7789V_PIXEL_FORMAT
	default ST7789V_RGB565 if SHIELD_PIMORONI_PICO_LCD_1_44
	default ST7789V_RGB565 if SHIELD_WAVESHARE_PICO_LCD_1_14
	default ST7789V_RGB565 if SHIELD_WAVESHARE_PICO_LCD_1_3
	default ST7789V_RGB565 if SHIELD_WAVESHARE_PICO_LCD_2
	default ST7789V_RGB565 if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_2_8
	depends on SHIELD_RPI_PICO_LCD && DISPLAY
endchoice

config LV_Z_VDB_SIZE
	default 32 if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_3_5
	depends on SHIELD_RPI_PICO_LCD && DISPLAY && LVGL

config LV_Z_BITS_PER_PIXEL
	default 16 if SHIELD_PIMORONI_PICO_LCD_1_44
	default 16 if SHIELD_WAVESHARE_PICO_LCD_0_96
	default 16 if SHIELD_WAVESHARE_PICO_LCD_1_14
	default 16 if SHIELD_WAVESHARE_PICO_LCD_1_3
	default 16 if SHIELD_WAVESHARE_PICO_LCD_1_44
	default 16 if SHIELD_WAVESHARE_PICO_LCD_1_8
	default 16 if SHIELD_WAVESHARE_PICO_LCD_2
	default 16 if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_2_8
	default 16 if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_3_5
	depends on SHIELD_RPI_PICO_LCD && DISPLAY && LVGL

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_16 if SHIELD_PIMORONI_PICO_LCD_1_44
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_LCD_0_96
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_LCD_1_14
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_LCD_1_3
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_LCD_1_44
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_LCD_1_8
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_LCD_2
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_2_8
	default LV_COLOR_DEPTH_16 if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_3_5
	depends on SHIELD_RPI_PICO_LCD && DISPLAY && LVGL
endchoice

config LV_COLOR_16_SWAP
	default y if SHIELD_PIMORONI_PICO_LCD_1_44
	default y if SHIELD_WAVESHARE_PICO_LCD_0_96
	default y if SHIELD_WAVESHARE_PICO_LCD_1_14
	default y if SHIELD_WAVESHARE_PICO_LCD_1_3
	default y if SHIELD_WAVESHARE_PICO_LCD_1_44
	default y if SHIELD_WAVESHARE_PICO_LCD_1_8
	default y if SHIELD_WAVESHARE_PICO_LCD_2
	default y if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_2_8
	default y if SHIELD_WAVESHARE_PICO_RESTOUCH_LCD_3_5
	depends on SHIELD_RPI_PICO_LCD && DISPLAY && LVGL

config INPUT
	default y if DT_HAS_ZEPHYR_LVGL_BUTTON_INPUT_ENABLED
	default y if DT_HAS_ZEPHYR_LVGL_KEYPAD_INPUT_ENABLED
	default y if DT_HAS_ZEPHYR_LVGL_POINTER_INPUT_ENABLED
	depends on SHIELD_RPI_PICO_LCD && DISPLAY && LVGL

config REGULATOR
	default y
	depends on DT_HAS_REGULATOR_FIXED_ENABLED

config GPIO_HOGS
	default y if SHIELD_PIMORONI_PICO_LCD_1_44
	depends on SHIELD_RPI_PICO_LCD && GPIO
