/*
 * Copyright (c) 2023 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/lvgl/lvgl.h>

/ {
	chosen {
		zephyr,display = &lcd_panel;
	};

	mipi_dbi: mipi-dbi {
		compatible = "zephyr,mipi-dbi-spi";
		write-only;
	};

	lcd_backlight_en: lcd-backlight-en {
		compatible = "regulator-fixed";
		regulator-name = "lcd_backlight_enable";
		regulator-boot-on;
	};

	lvgl_buttons: lvgl-buttons {
		compatible = "zephyr,lvgl-button-input";
		input = <&gpio_keys>;
		input-codes = <INPUT_KEY_1>;
		coordinates = <160 120>;
	};

	lvgl_keypad: lvgl-keypad {
		compatible = "zephyr,lvgl-keypad-input";
		input = <&gpio_keys>;
		input-codes = <INPUT_KEY_2 INPUT_KEY_3
			       INPUT_KEY_1>;
		lvgl-codes = <LV_KEY_LEFT LV_KEY_RIGHT
			      LV_KEY_ENTER>;
	};

	gpio_keys: gpio_keys {
		compatible = "gpio-keys";
		button_0: button_0 {
			label = "User button 0";
			zephyr,code = <INPUT_KEY_0>;
		};
		button_1: button_1 {
			label = "User button 1";
			zephyr,code = <INPUT_KEY_1>;
		};
		button_2: button_2 {
			label = "User button 2";
			zephyr,code = <INPUT_KEY_2>;
		};
		button_3: button_3 {
			label = "User button 3";
			zephyr,code = <INPUT_KEY_3>;
		};
	};

	aliases {
		sw0 = &button_0;
		sw1 = &button_1;
		sw2 = &button_2;
		sw3 = &button_3;
	};
};
