/*
 * SPDX-FileCopyrightText: Copyright (c) 2025-2026 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <nordic/nrf52840_qiaa.dtsi>
#include <nordic/nrf52840_partition_uf2_sdv7.dtsi>

#include <zephyr/dt-bindings/led/led.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>

#include "nrf52840-pinctrl.dtsi"

#include "stemma_qt_connector.dtsi"
#include "seeed_grove_connectors.dtsi"
#include "coffeecaller_nrf52_connector.dtsi"

/ {
	model = "TiaC CoffeeCaller nRF52 @ USB-CDC/ACM Concole";
	compatible = "tiac,coffeecaller-nrf52",
		     "tiac,coffeecaller-nrf52-usbcons";

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,uart-mcumgr = &cdc_acm_uart0;
		zephyr,bt-mon-uart = &cdc_acm_uart0;
		zephyr,bt-c2h-uart = &cdc_acm_uart0;
		zephyr,ieee802154 = &ieee802154;
		zephyr,led-strip = &led_strip;
	};

	aliases {
		mcuboot-button0 = &sw0;
		sw0 = &sw0;
		sw1 = &sw1;
		sw2 = &sw2;
		sw3 = &sw3;
		sw4 = &sw4;
		led0 = &ld1;
		led1 = &ld2;
		led2 = &ld3;
		led3 = &ld4;
		led-strip = &led_strip;
		pwm-buzzer0 = &pwm_buzzer;
		pwm-servo0 = &pwm_servo1;
		pwm-servo1 = &pwm_servo2;
		pwm-servo2 = &pwm_servo3;
		pwm-servo3 = &pwm_servo4;
		watchdog0 = &wdt0;
	};

	pwm_buzzers: pwm-buzzers {
		compatible = "pwm-buzzers";
		status = "okay";

		pwm_buzzer: pwm-buzzer {
			pwms = <&pwm0 0 PWM_HZ(880) PWM_POLARITY_NORMAL>;
			label = "PWM Buzzer";
		};
	};

	pwm_servos: pwm-servos {
		compatible = "pwm-servos";

		pwm_servo1: pwm-servo1 {
			pwms = <&pwm1 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM Servo Motor 1";
		};
		pwm_servo2: pwm-servo2 {
			pwms = <&pwm1 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM Servo Motor 2";
		};
		pwm_servo3: pwm-servo3 {
			pwms = <&pwm1 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM Servo Motor 3";
		};
		pwm_servo4: pwm-servo4 {
			pwms = <&pwm1 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
			label = "PWM Servo Motor 4";
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		sw0: sw0 {
			gpios = <&gpio0 4 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button SW0";
			zephyr,code = <INPUT_KEY_0>;
		};
		sw1: sw1 {
			gpios = <&gpio0 31 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button SW1";
			zephyr,code = <INPUT_KEY_1>;
		};
		sw2: sw2 {
			gpios = <&gpio0 29 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button SW2";
			zephyr,code = <INPUT_KEY_2>;
		};
		sw3: sw3 {
			gpios = <&gpio0 2 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button SW3";
			zephyr,code = <INPUT_KEY_3>;
		};
		sw4: sw4 {
			gpios = <&gpio1 15 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push button SW4";
			zephyr,code = <INPUT_KEY_4>;
		};
	};

	gpio_leds: gpio-leds {
		compatible = "gpio-leds";
		ld1: ld1 {
			gpios = <&gpio1 6 GPIO_ACTIVE_LOW>;
			label = "White LD1";
		};
		ld2: ld2 {
			gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
			label = "White LD2";
		};
		ld3: ld3 {
			gpios = <&gpio1 2 GPIO_ACTIVE_LOW>;
			label = "White LD3";
		};
		ld4: ld4 {
			gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
			label = "White LD4";
		};
	};

	led_strip: ws2812 {
		compatible = "worldsemi,ws2812-gpio";
		chain-length = <4>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_RED
				 LED_COLOR_ID_BLUE>;
		gpios = <&gpio0 26 0>;
		delay-t1h = <64>;
		delay-t1l = <64>;
		delay-t0h = <16>;
		delay-t0l = <64>;
	};
};

&reg0 {
	status = "okay";
};

&reg1 {
	regulator-initial-mode = <NRF5X_REG_MODE_LDO>;
};

&lfclk {
	k32src = "rc";
	k32src-accuracy-ppm = <500>;
};

&adc {
	status = "disabled";
};

&temp {
	status = "okay";
	friendly-name = "nRF52 chip temperature";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
	/* namespace and positions without wired bits */
	gpio-reserved-ranges = <3 1>, <5 1>, <7 1>,
			       <11 1>, <14 1>, <16 1>,
			       <18 2>, <21 1>, <23 1>,
			       <25 4>, <30 1>;
	gpio-line-names =
		"SV2_PWM1:2",		/* P0.00 */
		"SV1_PWM1:3",		/* P0.01 */
		"SW3",			/* P0.02 */
		"",			/* P0.03 */
		"SW0",			/* P0.04 */
		"",			/* P0.05 */
		"TX0_X1:1",		/* P0.06 */
		"",			/* P0.07 */
		"RX0_X1:3",		/* P0.08 */
		"NFC1",			/* P0.09 */
		"NFC2",			/* P0.10 */
		"",			/* P0.11 */
		"X1:7",			/* P0.12 */
		"X1:9",			/* P0.13 */
		"",			/* P0.14 */
		"X1:11",		/* P0.15 */
		"",			/* P0.16 */
		"X1:15",		/* P0.17 */
		"",			/* P0.18 */
		"",			/* P0.19 */
		"SDA0_X1:8",		/* P0.20 */
		"",			/* P0.21 */
		"X1:13",		/* P0.22 */
		"",			/* P0.23 */
		"SCL0_X1:10",		/* P0.24 */
		"",			/* P0.25 */
		"",  /* Din of LED stripe, P0.26 */
		"",			/* P0.27 */
		"",			/* P0.28 */
		"SW2",			/* P0.29 */
		"",			/* P0.30 */
		"SW1";			/* P0.31 */
};

&gpio1 {
	status = "okay";
	status = "okay";
	/* namespace and positions without wired bits */
	gpio-reserved-ranges = <1 1>, <3 1>, <5 1>,
			       <8 1>, <12 1>, <14 1>;
	gpio-line-names =
		"X1:6",			/* P1.00 */
		"",			/* P1.01 */
		"LD3",			/* P1.02 */
		"",			/* P1.03 */
		"LD4",			/* P1.04 */
		"",			/* P1.05 */
		"LD1",			/* P1.06 */
		"LD2",			/* P1.07 */
		"",			/* P1.08 */
		"X1:5",			/* P1.09 */
		"BUZ_PWM0:0",		/* P1.10 */
		"SV4_PWM1:0",		/* P1.11 */
		"",			/* P1.12 */
		"SV3_PWM1:1",		/* P1.13 */
		"",			/* P1.14 */
		"SW4";			/* P1.15 */
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart0 {
	status = "okay";
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
	current-speed = <115200>;
};

&i2c0 {
	compatible = "nordic,nrf-twi";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <100000>;
	sht4x: sht4x@46 {
		compatible = "sensirion,sht4x";
		reg = <0x46>;
		repeatability = <2>;
		friendly-name = "on-board temperature and humidity";
	};
};

&ieee802154 {
	status = "okay";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
