# Copyright (c) 2025 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config GPIO
	default y
	depends on DT_HAS_NORDIC_NRF_GPIO_ENABLED

# TODO: move all DELAY_* objects to Devicetree node
config DELAY_T1H
	default 64 if BOARD_COFFEECALLER_NRF52
	depends on LED_STRIP && DT_HAS_WORLDSEMI_WS2812_GPIO_ENABLED

config DELAY_T1L
	default 64 if BOARD_COFFEECALLER_NRF52
	depends on LED_STRIP && DT_HAS_WORLDSEMI_WS2812_GPIO_ENABLED

config DELAY_T0H
	default 16 if BOARD_COFFEECALLER_NRF52
	depends on LED_STRIP && DT_HAS_WORLDSEMI_WS2812_GPIO_ENABLED

config DELAY_T0L
	default 64 if BOARD_COFFEECALLER_NRF52
	depends on LED_STRIP && DT_HAS_WORLDSEMI_WS2812_GPIO_ENABLED

# Workaround for not being able to have commas in macro arguments
DT_CHOSEN_Z_CONSOLE := zephyr,console
DT_COMPAT_Z_CDC_ACM_UART := zephyr,cdc-acm-uart
DT_COMPAT_NORDICNRF_USB := nordic,nrf-usbd

# Macros to shorten Kconfig expressions
DT_CHOSEN_CONSOLE_NODE := $(dt_chosen_path,$(DT_CHOSEN_Z_CONSOLE))
DT_CHOSEN_CONSOLE_PARENT := $(dt_node_parent,$(DT_CHOSEN_CONSOLE_NODE))

if BOARD_COFFEECALLER_NRF52 && \
	$(dt_chosen_enabled,$(DT_CHOSEN_Z_CONSOLE)) && \
	$(dt_compat_on_bus,$(DT_COMPAT_Z_CDC_ACM_UART),usb) && \
	$(dt_node_has_compat,$(DT_CHOSEN_CONSOLE_PARENT),$(DT_COMPAT_NORDICNRF_USB))

config CDC_ACM_SERIAL_SELF_POWERED
	default n
	depends on USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS

config CDC_ACM_SERIAL_MAX_POWER
	default 75 if BOARD_COFFEECALLER_NRF52	# 150mA
	depends on USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS

# Logger cannot use itself to log
choice USBD_CDC_ACM_LOG_LEVEL_CHOICE
	default USBD_CDC_ACM_LOG_LEVEL_OFF
	depends on LOG && USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS
endchoice

# Set USB log level to error only
choice USBD_LOG_LEVEL_CHOICE
	default USBD_LOG_LEVEL_ERR
	depends on LOG && USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS
endchoice

# Set UDC driver log level to error only
choice UDC_DRIVER_LOG_LEVEL_CHOICE
	default UDC_DRIVER_LOG_LEVEL_ERR
	depends on LOG && USB_DEVICE_STACK_NEXT && USBD_CDC_ACM_CLASS
endchoice

endif # zephyr,cdc-acm-uart
