/*
 * Copyright (c) 2023-2024 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include "arduino_r3_connector.dtsi"

/ {
	msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&storage_partition>;
		disk-name = "NAND"; // CONFIG_MASS_STORAGE_DISK_NAME
		cache-size = <4096>;
	};
};
