# Copyright (c) 2021 TiaC Systems
# Copyright (c) 2019-2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

menuconfig BRIDLE_COMMANDS
	bool "Bridle Shell Commands"
	depends on SHELL
	default n

if BRIDLE_COMMANDS

config BRIDLE_CMD_HELLO
	bool "Simple hello from shell"
	default y if BRIDLE_COMMANDS
	default n
	help
	  Enable to have the command 'hello' that prints the simple message:
	  "Hello from shell." on the console.

endif # BRIDLE_COMMANDS
