# Copyright (c) 2021-2023 TiaC Systems
# Copyright (c) 2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

menu "I2C Target API Test"

# workaround to be configurable with different test cases
# copied from "zephyr/tests/drivers/i2c/i2c_target_api/Kconfig"

source "tests/drivers/i2c/i2c_target_api/common/Kconfig"

endmenu # I2C Target API Test
