# Copyright (c) 2021 TiaC Systems
# Copyright (c) 2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

menu "SPI Loopback Test"

# workaround to be configurable with different test cases
# copied from "zephyr/tests/drivers/spi/spi_loopback/Kconfig"

config SPI_LOOPBACK_MODE_LOOP
	bool "Configure the SPI in LOOP mode, so that no extra wiring is needed"

endmenu # SPI Loopback Test
