# SPDX-FileCopyrightText: Copyright (c) 2024-2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

choice LV_COLOR_DEPTH
	default LV_COLOR_DEPTH_16 if SHIELD_GEEEKPI_PICO_BB
	default LV_COLOR_DEPTH_16 if SHIELD_GEEEKPI_PICO_BB_PLUS
	depends on DISPLAY && LVGL
endchoice

config INPUT
	default y if SHIELD_GEEEKPI_PICO_BB
	default y if SHIELD_GEEEKPI_PICO_BB_PLUS
	depends on DISPLAY && LVGL && ( \
		   DT_HAS_ZEPHYR_LVGL_BUTTON_INPUT_ENABLED || \
		   DT_HAS_ZEPHYR_LVGL_KEYPAD_INPUT_ENABLED || \
		   DT_HAS_ZEPHYR_LVGL_POINTER_INPUT_ENABLED)

config INPUT_GT911_INTERRUPT
	default y if SHIELD_GEEEKPI_PICO_BB_PLUS
	depends on INPUT && LVGL

config ADC
	default y if SHIELD_GEEEKPI_PICO_BB_PLUS
	depends on INPUT && LVGL && DT_HAS_ADC_KEYS_ENABLED
