# Copyright (c) 2022 TiaC Systems
# Copyright (c) 2020 Kalyan Sriram <coder.kalyan@gmail.com>
# SPDX-License-Identifier: Apache-2.0

# STM32F401CE based Black Pill V3.0 board configuration

config BOARD_WEACT_BLACKPILL_V30
	bool "WeAct Studio Black Pill V3.0 Board"
	depends on SOC_STM32F401XE
