/*
 * Copyright (c) 2023 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include <freq.h>

&spi1 {
	status = "okay";
	clock-frequency = <DT_FREQ_M(60)>;
};

rpipico_spi_lcd: &spi1 {};
rpipico_spi_tsc: &spi1 {};
rpipico_spi_sdc: &spi1 {};
