/*
 * Copyright (c) 2023 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

#include <freq.h>

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_lcd>;
	pinctrl-names = "default";
	clock-frequency = <DT_FREQ_M(20)>;
};

rpipico_spi_lcd: &spi1 {};
