# Copyright (c) 2026 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config BOARD_SEEEDUINO_XIAO_SAMD21G18A
	bool

config BOARD_SEEEDUINO_XIAO_SAMD21G18A_BBE
	bool
	select BOARD_SEEEDUINO_XIAO_SAMD21G18A
