/*
 * Copyright (c) 2023 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	grove_laced_if_v1: grove-laced-if-v1 {

		compatible = "seeed,grove-laced-if";

		#pwm-cells = <3>;
		pwm-map-mask = <0xffffffff 0 0xffffffc0>;
		pwm-map-pass-thru = <0 0xffffffff 0x3f>;
		pwm-map =
			/*  0 - GP0: not possible */
			/*  1 - GP1: not possible */
			/*  2 - GP2: not possible */
			/*  3 - GP3: not possible */
			/*  4 - GP4: not possible */
			/*  5 - GP5: not possible */
			/*  6 - GP6: not possible */
			/*  7 - GP7: not possible */
			/*  8 - GP8: not possible */
			/*  9 - GP9: not possible */
			<10 0 0 &pwm 10 0 0>,	/* GP10: PWM5CHA (10), pin header */
			<11 0 0 &pwm 11 0 0>,	/* GP11: PWM5CHB (11), pin header */
			<12 0 0 &pwm 12 0 0>,	/* GP12: PWM6CHA (12), pin header */
			<13 0 0 &pwm 13 0 0>,	/* GP13: PWM6CHB (13), pin header */
			<14 0 0 &pwm 14 0 0>,	/* GP14: PWM7CHA (14), pin header */
			<15 0 0 &pwm 15 0 0>,	/* GP15: PWM7CHB (15), pin header */
			<16 0 0 &pwm 0 0 0>,	/* GP16: PWM0CHA (0) */
			<17 0 0 &pwm 1 0 0>,	/* GP17: PWM0CHB (1) */
			<18 0 0 &pwm 2 0 0>,	/* GP18: PWM1CHA (2) */
			<19 0 0 &pwm 3 0 0>,	/* GP19: PWM1CHB (3) */
			<20 0 0 &pwm 4 0 0>,	/* GP20: PWM2CHA (4) */
			<21 0 0 &pwm 5 0 0>,	/* GP21: PWM2CHB (5) */
			<22 0 0 &pwm 6 0 0>,	/* GP22: PWM3CHA (6), pin header */
			/* 23 - GP23: not possible */
			/* 24 - GP24: not possible */
			<25 0 0 &pwm 9 0 0>;	/* GP25: PWM4CHB (9), on-board LED */
	};
};

grove_pwms: &grove_laced_if_v1 {};

grove_pwm_d10: &pwm {};
grove_pwm_d11: &pwm {};
grove_pwm_d12: &pwm {};
grove_pwm_d13: &pwm {};
grove_pwm_d14: &pwm {};
grove_pwm_d15: &pwm {};
grove_pwm_d16: &pwm {};
grove_pwm_d17: &pwm {};
grove_pwm_d18: &pwm {};
grove_pwm_d19: &pwm {};
grove_pwm_d20: &pwm {};
grove_pwm_d21: &pwm {};
grove_pwm_d22: &pwm {};
grove_pwm_d25: &pwm {};
