/*
 * Copyright (c) 2023-2026 TiaC Systems
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	model = "TiaC Systems Firmware @ Zephyr Project USB-CDC/ACM Concole";
	compatible = "tiac,zephyr-usbcons";

	chosen {
		zephyr,console = &snippet_cdc_acm_console_uart;
	};
};

&zephyr_udc0 {
	snippet_cdc_acm_console_uart: snippet_cdc_acm_console_uart {
		compatible = "zephyr,cdc-acm-uart";
	};
};
