# Copyright (c) 2021-2025 TiaC Systems
# Copyright (c) 2021 Li-Pro.Net
# SPDX-License-Identifier: Apache-2.0

name: Pull Request Labeler

on:
  pull_request_target:

jobs:
  labeler:
    name: Automatically label
    if: ${{ github.repository == 'tiacsys/bridle' }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      issues: write
      pull-requests: write
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/labeler@v6
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          sync-labels: true
          dot: true
