# Copyright (c) 2025 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_CH32X035_AFIO
	bool "WCH CH32X035 Alternate Function IO pin controller driver"
	default y
	depends on DT_HAS_WCH_CH32X035_AFIO_ENABLED
