# Copyright (c) 2025 TiaC Systems
# SPDX-License-Identifier: Apache-2.0

config PINCTRL_WCH_X035_AFIO
	bool "WCH AFIO pin controller driver for CH32X035"
	default y
	depends on DT_HAS_WCH_X035_AFIO_ENABLED
	help
	  WCH CH32X035 AFIO pin controller driver.
