/*
 * Copyright (c) 2024-2025 TiaC Systems
 *
 * SPDX-License-Identifier: Apache-2.0
 *
 * Snipped overlay for testing driver builds
 *
 * Names in this file should be chosen in a way that won't conflict
 * with real-world devicetree nodes, to allow these tests to run on
 * (and be extended to test) real hardware.
 */

#include <freq.h>
#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
	test: test {};
};

&test {
	test_fixed_clk_adj: test-fixed-clk-adj {
		compatible = "fixed-clock";
		status = "okay";
		#clock-cells = <0>;
		clock-frequency = <0>;
	};

	test_gpio_adj: gpio@feedface {
		compatible = "vnd,gpio";
		status = "okay";
		reg = <0xfeedface 0x1000>;
		gpio-controller;
		#gpio-cells = <0x2>;
	};

	test_i2c_adj: i2c@aaaabbbb {
		compatible = "vnd,i2c";
		status = "okay";
		reg = <0xaaaabbbb 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <I2C_BITRATE_STANDARD>;

		test_i2c_ds3231_mfd: ds3231-mfd@1 {
			compatible = "maxim,ds3231-mfd";
			status = "okay";
			reg = <0x1>;

			test_i2c_ds3231_rtc: ds3231-rtc {
				compatible = "maxim,ds3231-rtc";
				status = "okay";
				isw-gpios = <&test_gpio_adj 0 0>;
				freq-32khz-gpios = <&test_gpio_adj 0 0>;
			};

			test_i2c_ds3231_sensor: ds3231-sensor {
				compatible = "maxim,ds3231-sensor";
				status = "okay";
			};
		};

		test_i2c_sc16is75x: sc16is75x-i2c@2 {
			compatible = "nxp,sc16is75x";
			status = "okay";
			reg = <0x2>;
			#address-cells = <1>;
			#size-cells = <0>;
			clock = <&test_fixed_clk_adj>;
			reset-gpios = <&test_gpio_adj 0 0>;
			interrupt-gpios = <&test_gpio_adj 0 0>;

			test_i2c_sc16is75x_gpio: sc16is75x-i2c-gpio {
				compatible = "nxp,sc16is75x-gpio";
				status = "okay";
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <8>;
			};

			test_i2c_sc16is75x_uart_0: sc16is75x-i2c-uart@0 {
				compatible = "nxp,sc16is75x-uart";
				status = "okay";
				reg = <0>;
			};

			test_i2c_sc16is75x_uart_1: sc16is75x-i2c-uart@1 {
				compatible = "nxp,sc16is75x-uart";
				status = "okay";
				reg = <1>;
			};
		};
	};

	test_i3c_adj: i3c@bbbbaaaa {
		compatible = "vnd,i3c";
		status = "okay";
		reg = <0xbbbbaaaa 0x1000>;
		#address-cells = <3>;
		#size-cells = <0>;
	};

	test_spi_adj: spi@ccccdddd {
		compatible = "vnd,spi";
		status = "okay";
		reg = <0xccccdddd 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		clock-frequency = <DT_FREQ_M(2)>;

		/* one entry for every devices */
		cs-gpios = <&test_gpio_adj 0 0>,
			   <&test_gpio_adj 0 0>,
			   <&test_gpio_adj 0 0>;

		test_spi_sipo_mux_gp: sipo-mux-gp@0 {
			compatible = "sipo-mux-gp-spi";
			status = "okay";
			reg = <0x0>;
			spi-max-frequency = <0>;
			refresh-time-us = <500>;
			#address-cells = <1>;
			#size-cells = <0>;
			shift-width = <32>;
			data-width = <32>;
			oe-gpios = <&test_gpio_adj 0 0>;
			addr-gpios = <&test_gpio_adj 0 0>;

			test_spi_sipo_mux_gpio_0: sipo-mux-gpio@0 {
				compatible = "sipo-mux-gpio";
				status = "okay";
				reg = <0>;
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <32>;
				offset = <0>;
			};

			test_spi_sipo_mux_gpio_1: sipo-mux-gpio@1 {
				compatible = "sipo-mux-gpio";
				status = "okay";
				reg = <1>;
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <32>;
				offset = <32>;
			};
		};

		test_spi_sc18is604: sc18is604-spi@1 {
			compatible = "nxp,sc18is604";
			status = "okay";
			reg = <0x1>;
			spi-max-frequency = <DT_FREQ_K(650)>;
			reset-gpios = <&test_gpio_adj 0 0>;
			interrupt-gpios = <&test_gpio_adj 0 0>;

			test_spi_sc18is604_gpio: sc18is604-spi-gpio {
				compatible = "nxp,sc18is604-gpio";
				status = "okay";
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <5>;
			};

			test_spi_sc18is604_i2c: sc18is604-spi-i2c {
				compatible = "nxp,sc18is604-i2c";
				status = "okay";
				#address-cells = <1>;
				#size-cells = <0>;
				clock-frequency = <I2C_BITRATE_STANDARD>;
			};
		};

		test_spi_sc16is75x: sc16is75x-spi@2 {
			compatible = "nxp,sc16is75x";
			status = "okay";
			reg = <0x2>;
			spi-max-frequency = <0>;
			#address-cells = <1>;
			#size-cells = <0>;
			clock = <&test_fixed_clk_adj>;
			reset-gpios = <&test_gpio_adj 0 0>;
			interrupt-gpios = <&test_gpio_adj 0 0>;

			test_spi_sc16is75x_gpio: sc16is75x-spi-gpio {
				compatible = "nxp,sc16is75x-gpio";
				status = "okay";
				gpio-controller;
				#gpio-cells = <2>;
				ngpios = <8>;
			};

			test_spi_sc16is75x_uart_0: sc16is75x-spi-uart@0 {
				compatible = "nxp,sc16is75x-uart";
				status = "okay";
				reg = <0>;
			};

			test_spi_sc16is75x_uart_1: sc16is75x-spi-uart@1 {
				compatible = "nxp,sc16is75x-uart";
				status = "okay";
				reg = <1>;
			};
		};
	};

	test_uart_adj: uart@eeeeffff {
		compatible = "vnd,serial";
		status = "okay";
		reg = <0xeeeeffff 0x1000>;
	};

	test_w1_adj: w1@ffffeeee {
		compatible = "vnd,w1";
		status = "okay";
		reg = <0xffffeeee 0x1000>;
		#address-cells = <1>;
		#size-cells = <0>;
		ranges = <0 0>;
	};
};
